@import 'css/theme.css';

.headshot-main {
    text-align: center;
}

.headshot-main img {
    width: 266px;
}

.headshot {
    text-align: center;
    font-size: 11pt;
}

.headshot img{
    width: 167px;
    margin: 10px;
}

.headshots {
    width: 921px;
    margin: auto;
}

/* Landing page layout */
.card-box .col, .card-box img {
    width: 266px;
    height: 275px;
}

.card-box .col {
    padding: 15px;
}

.card-box .h3 {
    font-weight: 700;
}

.centered-heading p{
    font-size: 19pt;
    color: rgba(127,17,70,1);
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
}
